<div class="wrapper"
     *ngIf="matchedUser">
    <div class="container">
        <app-avatar class="avatar"
                    [userImage]="currentUserImage"></app-avatar>
        <app-avatar class="avatar"
                    [userImage]="matchedUserImage"></app-avatar>
        <h1>
            This is your match
        </h1>
        <p>
            <strong>Get in contact with {{matchedUser.firstName + ' ' + matchedUser.lastName }}</strong><br>Use this tools to plan your shared lunch <br>Phone number, E-mail<br>
        </p>
        <p><strong>Good look!</strong></p>
        <div>
            <button mat-raised-button
                    color="primary"
                    (click)="cancelLunch()">Cancel lunch</button>
            <button mat-raised-button
                    color="primary"
                    (click)="rateLunch()">Rate lunch</button>
        </div>
    </div>
</div>