<div class="noMatchWrapper">
    <app-avatar class="avatar" [userImage]="currentUserImage"></app-avatar>
    <app-avatar class="avatar" [userImage]="null"></app-avatar>
    <h1>
      No match
    </h1>
    <p>
      <strong>Keep it cool</strong><br>Our team is working in the next <br>shared lunch experience<br>

    </p>
    <p><strong>Status</strong>: {{currentUser.available? 'Available': 'Unavailable'}}<br>for your next lunch.</p>
    <input type="button" value="Change status" (click)="changeStatus()">
    <input type="button" value="Match" (click)="match()">
</div>

<!-- <h1>RANDOM USER</h1>
<pre>
  {{matchedUser | json}}
</pre>


<h1>CURRENT USER</h1>
<pre>
  {{currentUser | json}}
</pre> -->